.ukol {
	display: flex;
	align-items: center;
	list-style-type: none;
	min-height: 2em;
}

.ukol__nazev {
	display: inline-block;
	min-width: 150px;
	margin-right: 10px;
}

.ukol--splnen .ukol__nazev {
	text-decoration: line-through;
}
